.idea
Release/*.so
Release/*.bin
Release/chrome-sandbox
Release/revision.txt
Debug/*.so
Debug/*.bin
Debug/chrome-sandbox
Debug/revision.txt
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
