[Desktop Entry]
Encoding=UTF-8
Name=Brick
Comment=Bitrix24 messenger
Type=Application
Categories=Network;InstantMessaging;
Exec=brick
Icon=brick
Terminal=false
