[Desktop Entry]
Encoding=UTF-8
Name=Brick
GenericName=Internet Messenger
Comment=Bitrix24 messenger
Type=Application
Categories=Network;InstantMessaging;
Exec=brick
Icon=brick
Terminal=false
