[Desktop Entry]
Encoding=UTF-8
Name=Brick Remote Client
Comment=D-Bus client for Brick
Type=Application
Categories=Network;
Exec=brick-client %U
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/bx;